<%= render partial: "shared/header", locals: {title: "Danh sách nhân viên",
                                            path: new_user_path,
                                            button: "Nhập hàng", type: "User"} %>

<!-- Table -->
<table class="min-w-full bg-white shadow rounded-lg overflow-hidden">
  <thead class="bg-gray-100 border-b">
    <tr>
      <th class="px-4 py-2 text-left">#</th>
      <th class="px-4 py-2 text-left">Tên</th>
      <th class="px-4 py-2 text-left">Email</th>
      <th class="px-4 py-2 text-left">Điện thoại</th>
      <th class="px-4 py-2 text-left">Sinh</th>
      <th class="px-4 py-2 text-left">Địa chỉ</th>
      <th class="px-4 py-2 text-left">Vai trò</th>
      <th class="px-4 py-2 text-left">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr class="border-b hover:bg-gray-50">
        <td class="px-4 py-2"><%= index + 1 %></td>
        <td class="px-4 py-2 font-medium"><%= user.fullname %></td>
        <td class="px-4 py-2"><%= user.email %></td>
        <td class="px-4 py-2"><%= user.phone %></td>
        <td class="px-4 py-2"><%= user.birth_date %></td>
        <td class="px-4 py-2"><%= user.address %></td>
        <td class="px-4 py-2"><%= user.role %></td>
        <td class="px-4 py-2 text-center">
          <%= link_to "Xem chi tiết", user_path(user),
                      class: "text-blue-700 px-3 py-1 rounded-md text-sm hover:underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Pagination -->
<div class="mt-4">
  <%= will_paginate @orders, renderer: TailwindPaginationHelper::LinkRenderer %>
</div> 
