<%= render partial: "shared/header", locals: {title: "Danh sách đối tác",
                                            path: new_agency_path,
                                            button: "Thêm đối tác", type: "Agency"} %>


<table class="min-w-full border border-gray-300 rounded-md text-sm">
  <thead class="bg-gray-100">
    <tr>
      <th class="p-2 border text-left">Tên đại lý</th>
      <th class="p-2 border text-left">Địa chỉ</th>
      <th class="p-2 border text-left">Số điện thoại</th>
      <th class="p-2 border text-left">Email</th>
      <th class="p-2 border text-center">Ngày tạo</th>
      <th class="p-2 border text-center">Hành động</th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr class="hover:bg-gray-50">
        <td class="p-2 border font-medium text-gray-900"><%= agency.name %></td>
        <td class="p-2 border text-gray-700"><%= agency.location %></td>
        <td class="p-2 border text-gray-700"><%= agency.phone %></td>
        <td class="p-2 border text-gray-700"><%= agency.email %></td>
        <td class="p-2 border text-center text-gray-600">
          <%= l(agency.created_at, format: :short) %>
        </td>
        <td class="p-2 border text-center">
          <%= link_to "Xem chi tiết", agency_path(agency),
                      class: "text-blue-700 px-3 py-1 rounded-md text-sm hover:underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Pagination -->
<div class="mt-4">
  <%= will_paginate @agencies, renderer: TailwindPaginationHelper::LinkRenderer %>
</div>
