<aside class="fixed top-12 left-0 w-52 h-[calc(100vh-3rem)] bg-white border-r border-gray-200 flex flex-col py-6 text-gray-700">
  <nav class="flex flex-col space-y-1">
    <%= link_to "#", class: "flex items-center px-6 py-2 hover:bg-blue-50 hover:text-blue-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7m-9 2v8m4-8v8m-9 0h14" />
      </svg>
      Home
    <% end %>

    <%= link_to "#", class: "flex items-center px-6 py-2 hover:bg-blue-50 hover:text-blue-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 7h18M3 12h18M3 17h18" />
      </svg>
      Storage
    <% end %>

    <%= link_to "#", class: "flex items-center px-6 py-2 hover:bg-blue-50 hover:text-blue-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5.121 17.804A9 9 0 1118.364 4.56M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Employees
    <% end %>

    <%= link_to "#", class: "flex items-center px-6 py-2 hover:bg-blue-50 hover:text-blue-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 9V7a2 2 0 00-2-2H9a2 2 0 00-2 2v2M5 13h14l1 9H4l1-9z" />
      </svg>
      Import
    <% end %>
    <%= link_to "#", class: "flex items-center px-6 py-2 hover:bg-blue-50 hover:text-blue-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 9V7a2 2 0 00-2-2H9a2 2 0 00-2 2v2M5 13h14l1 9H4l1-9z" />
      </svg>
      Export
    <% end %>
  </nav>
</aside>
